/* А тут CSS */
/* Desktop styles */
.some-element {
  width: 50%; /* Example width */
}

/* Mobile styles */
@media (max-width: 768px) {
  .some-element {
      width: 100%; /* Adjusted width for mobile */
  }
}
/* Custom styles for the image */
.image img {
  width: 90%; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
}
h1 {
    color: darkblue;
}

body {
  font-family: serif;
  color: white;
  margin: 0;
  padding: 0;
}

.left {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 20px;
}

.left img {
  width: 150px;
}

.mid {
  display: inline-block;
  margin: 30px 0 30px 200px; /* Added left margin to create space for the logo */
}

.navbar {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  font-size: 19px;
}

.navbar li a {
  color: black;
  text-decoration: none;
  padding: 30px 20px;
}

.right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
}
a {
  font-weight: bold; /* Set the font weight to bold */
  color: #310080; /* Set the text color to dark blue */
  text-decoration: underline; /* Add underline to the link text */
}